html {
    height: 100%;
}

body {
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.main section {
    overflow: hidden;
}

.main section .page_container {
    z-index: 3;
}

.main section > img {
    max-width: 100%;
    z-index: 1;
}

.main section.page1 {
    background: rgb(230, 217, 200);
}

.main section.page1 .page_container {
    margin-top: 240px;
    overflow: hidden;
}

.main section.page2 {
    background: #555557;
}

.main section.page2 .page_container {
    margin-top: 240px;
    overflow: hidden;
}

.main section.page3 {
    background: #567;
}

.main section.page2 .page_container {
    margin-top: 240px;
    overflow: hidden;
    width: 500px;
}

.main section.page4 .page_container {
    background: #555557;
    overflow: hidden;
}